/.lake
/problems
*.smt2
*.out
*.sol
.DS_Store
/nocross
/tilemaze
/weavemaze
/template
/paper/figures/*.pdf
/extended-report/figures/*.pdf
*.aux
*.bbl
*.blg
*.cut
*.log
/paper/maze.pdf
/extended-report/maze-extended.pdf
/paper/outline.txt
*.nb
