/.lake
/problems
*.smt2
*.out
*.sol
.DS_Store
/nocross
/template
/paper/figures/*.pdf
/extended-report/figures/*.pdf
*.aux
*.bbl
*.blg
*.cut
*.fdb_latexmk
*.fls
*.log
*.nav
*.snm
*.toc
*.vrb
*.xdv
/paper/maze.pdf
/extended-report/maze-extended.pdf
/paper/outline.txt
*.nb
/talks/bridges2026/tmp/
